{:aliases
 {:neil {:project {:name io.github.borkdude/html
                   :version "0.1.0"}}
  :test ;; added by neil
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}
  :cljs-test-runner
  {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}
                org.clojure/clojurescript {:mvn/version "1.11.132"}}
   :extra-paths ["test" "cljs-test-runner-out/gen"]
   :main-opts ["-m" "cljs-test-runner.main" "-d" "test"]}

 :build ;; added by neil
 {:deps {io.github.clojure/tools.build {:git/tag "v0.10.3" :git/sha "15ead66"}
         slipset/deps-deploy {:mvn/version "0.2.2"}}
  :ns-default build}}}
